@page "/"
@inject FormInfo Testy

<PageTitle>Form</PageTitle>

<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>


<body>
<div class="content">
    <form id="formInfo">
        <h3><nobr>Personlige oplysninger</nobr></h3>
        <p>
            <label>Navn:</label>
            <input placeholder="" type="text" size="30" id="name" required/><br />
        </p>
        <p>
            <label>Telefon:</label>
                <input placeholder="" type="text" size="30" id="phone" inputmode="decimal" required /><br />
        </p>
        <p>
            <label>Email:</label>
                <input placeholder="" type="text" size="30" id="email" required /><br />
        </p>
        <h3>Udgiftens formål</h3>
        <p>
            <label>Gruppe:</label>
                <select name="groups" id="group" style="width: 200px;" required>
                <option>EDB</option>
                <option>Silly</option>
            </select><br>
        </p>
        <p>
            <label>Hvad er pengene brugt på:</label>
                <input type="text" size="30" id="purpose" required /><br />
        </p>
        <h3>OBS: Ved fortæring skal alle tilstedeværendes navn oplyses:</h3>
        <textarea rows="3" cols="30"></textarea>
        <h3>Postering</h3>
        <p>
            <label>Udgiftens størrelse:</label>
                <nobr><input type="text" size="28" id="amount" inputmode="decimal" required />kr.</nobr>
        </p>
        <h3>Udbetaling</h3>
        <p>
            <label>Pengene er udbetalt kontant</label>
                <input type="radio" name="cash" id="cashTrue" required />
        </p>
        <p>
            <label>Pengene overføres til konto</label>
                <input type="radio" name="cash" id="cashFalse" required />
        </p>
        <h3>Konto</h3>

            <input list="accountList" id="accountListInput" size="30" required>
        <datalist id="accountList">
            <option value="Skolemand: 47382"></option>
            <option value="Stoerre heste inc.: 696911"></option>
            <option value="18 store svedige maend: 1899902"></option>
        </datalist>
        <br />
        <div class="spacer"></div>
        <p>
            <label>Vedhæft kvittering:</label>
                <input type="file" multiple id="files" accept="image/*" required />
        </p>
        <div class="spacer"></div>
        <div align="center"></div>
    </form>

    <button @onclick="FormInfo.TestFunc">test</button>



</div>
<div class="eop"></div>
</body>

@code{

}