@page "/"

<PageTitle>Form</PageTitle>

<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<body>

<div class="content">
  text here <br />
  <input type="text" size="30" /><br />

  drop down here<br />
  <select name="groups" id="group" width="30">
      <option>EDB</option>
      <option>Silly</option>
  </select><br>
  
  lots of text here <br />
  <textarea rows="3" cols="30" ></textarea>
</div>

</body>

@code{

}