@page "/"

<PageTitle>Form</PageTitle>

<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>


<body>
<div class="content">
    <form>
        <h3><nobr>Personlige oplysninger</nobr></h3>
        <p>
            <label>Navn:</label>
            <input placeholder="" type="text" size="30" id="name"/><br />
        </p>
        <p>
            <label>Telefon:</label>
            <input placeholder="" type="text" size="30" id="phone" inputmode="numeric"/><br />
        </p>
        <p>
            <label>Email:</label>
            <input placeholder="" type="text" size="30" id="email"/><br />
        </p>
        <h3>Udgiftens formål</h3>
        <p>
            <label>Gruppe:</label>
                <select name="groups" id="group" style="width: 200px;">
                <option>EDB</option>
                <option>Silly</option>
            </select><br>
        </p>
        <p>
            <label>Hvad er pengene brugt på:</label>
            <input type="text" size="30" id="purpose" /><br />
        </p>
        <h3>OBS: Ved fortæring skal alle tilstedeværendes navn oplyses:</h3>
        <textarea rows="3" cols="30"></textarea>
        <h3>Postering</h3>
        <p>
            <label>Udgiftens størrelse:</label>
            <input type="text" size="30" id="amount" inputmode="numeric"/><label>kr.</label>
        </p>
        <h3>Udbetaling</h3>
        <p>
            <label>Pengene er udbetalt kontant</label>
            <input type="radio" name="account"/>
        </p>
        <p>
            <label>Pengene overføres til konto</label>
            <input type="radio" name="account"/>
        </p>
        <h3>Konto</h3>
        Her skal være en løsning til valg af konto


    </form>
</div>

</body>

@code{
    
}