@page "/"

<PageTitle>Form</PageTitle>

<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>


<body>
<div class="content">
    <form>
        <h3><nobr>Personlige oplysninger</nobr></h3>
        <p>
            <label>Navn:</label>
            <input placeholder="" type="text" size="30" id="name"/><br />
        </p>
        <p>
            <label>Telefon:</label>
            <input placeholder="" type="text" size="30" id="phone"/><br />
        </p>
        <p>
            <label>Email:</label>
            <input placeholder="" type="text" size="30" id="email"/><br />
        </p>
        <h3>Udgiftens formål</h3>
        <p>
            <label>Gruppe:</label>
                <select name="groups" id="group" style="width: 200px;">
                <option>EDB</option>
                <option>Silly</option>
            </select><br>
        </p>
    </form>
        

  
        lots of text here <br />
        <textarea rows="3" cols="30" ></textarea>


</div>

</body>

@code{
    
}