@page "/"
@using Reimbursement.Data;
@inject UserController controller;
@inject NavigationManager _navigationmanager;

<PageTitle>Start Screen</PageTitle>

<h1>Velkommen</h1>

<button type="button" class="google-login-button" @onclick="GoogleSignIn">Login</button> 

@code {
    public void GoogleSignIn()
    {
        _navigationmanager.NavigateTo("user/GoogleSignIn", true);
    }
}