@page "/"
@using Reimbursement.Data;
@inject UserController controller;
@inject NavigationManager _navigationmanager;


<PageTitle>Start Screen</PageTitle>
<head>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<centering>
<body>
    <img src="/css/StudentersamfundetLogo.png" alt="stlogo" class="img" />
    <h1>Velkommen</h1>
        <div>
            <center>
                Denne side er til at søge udlæg
            </center>
        </div>
        <button type="button" class="button-Login" @onclick="GoogleSignIn">Login</button>
    </body>
</centering>

@code {
    //Navigats to [HttpGet("GoogleSignIn")] method in the usercontroller
    public void GoogleSignIn()
    {
        _navigationmanager.NavigateTo("user/GoogleSignIn", true);
    }
}