@page "/"
@using Reimbursement.Data;
@inherits LayoutComponentBase
@inject NavigationManager _navigationmanager;


<PageTitle>Start Screen</PageTitle>

<link rel="stylesheet" href="/css/homepage.css">

<body>
    <img src="/css/StudentersamfundetLogo.png" alt="stlogo" class="img" />
    <h1>Velkommen</h1>
        <div>
            <center>
                Denne side er til at søge udlæg
            </center>
        </div>
        <button type="button" class="button-Login" @onclick="GoogleSignIn">Login</button>
</body>


@code {
    //Navigats to [HttpGet("GoogleSignIn")] method in the usercontroller
    public void GoogleSignIn()
    {
        _navigationmanager.NavigateTo("user/GoogleSignIn", true);
    }
}