@inherits LayoutComponentBase

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
           <input type="submit" form="formInfo" value="Forhondsvisning" id="preview">
            <input type="submit" id="submit" form="formInfo" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
